<div class="card mb-3" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/g1.jpg" class="card-img" alt="Gagan Garima Society">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">About Gagan Garima</h5>
          <p class="card-text">We at Roseland Residency continuously strive to make our society a better place to live in. This website is another step towards that goal. We have carefully crafted, designed and placed the various pages on this site so that you find the relevant details easily. Please go through it and explore this website.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>