<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" class="d-block  w-100" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Gallery 1</h3>
      <p>Enjoy picture </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" class="d-block w-100" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Gallery 2</h3>
      <p> Enjoy picture.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" class="d-block  w-100" alt="Random third slide">
    <div class="carousel-caption">
      <h3>TGallery 3</h3>
      <p>Enjoy picture.</p>
    </div>
  </ng-template>
</ngb-carousel>