<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">General Guide Lines</li>
    </ol>
  </nav>

  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/g1.jpg" class="card-img" alt="Gagan Garima Society">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Residents are requested to inform the Society office before shifting in and out of the Society.</p>
          <p class="card-text">Furniture work should be done between 9:00 am to 7:00 pm. If any resident files a complaint about the timings or disturbance due to the work society reserves rights to stop the work. Residents are requested to co-operate with their neighbors.</p>
          <p class="card-text">Members doing internal alteration in their flat/row house should obtain NOC from society office before starting the job. No Structural change will be allowed in the flat. If any member attempts for structural change which will cause damage to the construction of the building, it will be treated as an offence and the resident will have to face legal action against the same.</p>
          <p class="card-text">Renting out flat to Bachelors/Spinsters is not allowed. Flat should be rented out only to families</p>
          <p class="card-text">Every resident is requested to submit their updated contact numbers and email address in society office or by sending out email to gagangarimachs@gmail.com</p>
          <p class="card-text">No new gate pass will be issued to maids/drivers or such personnel without an authorization letter from the resident.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/Gym1.jpg" class="card-img" alt="Gagan Garima Society">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">All the garden and playground lights will be turned off after 10:00 pm.</p>
          <p class="card-text">Gardens should not be used for playing any (e.g. Football, cricket, tennis etc.) games.</p>
        </div>
      </div>
    </div>
  </div>