<div class="card-group">
    <div class="card">
      <img src="./assets/P1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Playground for Children</h5>
        <p class="card-text">Step off the field for a second, and jump into the playground.It’s a place to break all the rules and dodge all responsibility. Roseland residency playground is a place where all the children enjoy to their fullest. We have constructed the playground in a very friendly way so that children can play without any fear.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/garden.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Garden</h5>
        <p class="card-text">At Roseland we make it a point to grow trees as much as possible.In our big society we have kept a dedicated space for garden, so that members of the society always feel close to nature and enjoy the freshness everyday. We have also constructed sitouts in the garden so that any one can sit and relax.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/T1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tennis Court</h5>
        <p class="card-text">We have a big tennis court in our society made of cement flooring.Its always open to the member of the society and friends. Tennis is a very great challenging sport which removes all your weeks stress just by playing for an hour. Not only children but parents can also play with their children on weekend for friendly match. Our society occasionally keeps tournaments which everyone is free to participate, so that people can come together from their daily busy life which helps them socially and physically.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>